#principal{
                background-color: #000;
                min-height: 200px;
            }
            #A{
                background-color: #F7D358;
                min-height: 400px;
            }
            #E{
                background-color: #F7D358;
                min-height: 400px;
            }
            #B{
                background-color: #6E6E6E;
                min-height: 500px;
            }
            #C{
                background-color: #F7D358;
                min-height: 400px;
            }
            #D{
                background-color: #F7D358;
                min-height: 400px;/*
